.container {
  margin-top: 20px;
  width: 30%;
}

.heading {
  font-size: 1rem;
  text-align: center;
}

.label {
  margin-right: 10px;
  margin-bottom: 10px;
}

.input {
  padding: 5px 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
