.main {
  text-align: center;
  font-size: 1rem;
  color: #d42e1f;
}

.topContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  padding: 10px 10px;
  text-align: center;
}

.topContainer div {
  width: 33%;
  cursor: pointer;
}

.topContainer div:nth-child(even) {
  border-right: 2px solid gray;
  border-left: 2px solid gray;
}

.result,
.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
